<!DOCTYPE>
<html>

<head>
  <script src="https://unpkg.com/htmx.org@1.9.10"
    integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/main.css">

</head>

<body>
  {{block "header" .}}
  <header>
    BATALLA NAVAL
  </header>
  {{end}}

  {{block "tab" .}}
  <div class="tab">
    {{range .Tab.Cells}}
    <div class="row">
      {{range . }}
      <div class="cell">
        {{.Type}}
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
  {{end}}
</body>

</html>
