{{block "spec" .}}
<!DOCTYPE html>
<html>

<head>
  {{template "head" .}}
</head>

<body>
  {{template "header" .}}
  <div class="spec-table">
    <div class="one-tab">
      {{if (ne .PlayerOne nil)}}
      {{template "board" .PlayerOne}}
      {{end}}
    </div>
    <div class="two-tab">
      {{if (ne .PlayerTwo nil)}}
      {{template "board" .PlayerTwo}}
      {{end}}
    </div>
  </div>
  <pre>
    {{ printf "%#v" . }}
  </pre>
  <pre>
    {{ printf "%#v" .PlayerOne }}
  </pre>
  <pre>
    {{ printf "%#v" .PlayerTwo }}
  </pre>

  <script>
    document.body.addEventListener('htmx:configRequest', function (evt) {
      evt.detail.headers['player'] = document.location.pathname.replace('/', '')
    });

  </script>
</body>

</html>
{{end}}
