{{block "home" .}}
<!DOCTYPE html>
<html>

<head>
  {{template "head" .}}
</head>

<body>
  {{block "header" .}}
  <header>
    BATALLA NAVAL
  </header>
  {{end}}

  {{block "game-list" .}}
  <input type="text" name="name">
  <form>
    <ul>
      {{range .}}
      <li>
        <p data-id="{{.ID}}">{{.ID}}</p>
        <button hx-post="/join-game/{{.ID}}" hx-include="[name='name']">Join</button>
      </li>
      {{end}}
    </ul>
    <button hx-post="start-game" hx-include="[name='name']">Start new game</button>
  </form>
  {{end}}

</body>

</html>
{{end}}
